<!-- main-area -->
<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb__area pt-100 pb-120 breadcrumb__overlay about-section"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-12 col-md-12 col-12">
          <div class="tp-breadcrumb">
            <h2 class="tp-breadcrumb__title">About us</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- about-area -->
  <section class="about-area pt-130 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-12">
          <div class="tp-about-thumb mb-60 wow fadeInLeft" data-wow-delay=".3s">
            <div class="tp-ab-img d-flex">
              <div class="tp-ab-main-img p-relative">
                <img src="assets/img/about/about-bg-04.jpg" alt="about-thumb" />
                <div class="about__exprience tp-ab-counter">
                  <h3>5</h3>
                  <i>Years of <br />Experience</i>
                </div>
              </div>
              <div class="tp-ab-shape d-none d-md-block d-lg-none d-xl-block">
                <img
                  class="ab-shape-one"
                  src="assets/img/about/about-bg-05.jpg"
                  alt="about-shape"
                />
                <img
                  class="ab-shape-two"
                  src="assets/img/about/about-bg-06.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-8 col-12">
          <div
            class="about-content about-align mb-60 wow fadeInRight"
            data-wow-delay=".3s"
          >
            <div class="tp-section">
              <h3 class="tp-section__title ab-title mb-25">
                Contact {{ companyName }} for Trusted Pharmaceutical Solutions.
              </h3>
              <p class="mr-20 mb-40">
                {{ companyName }} is a leading global pharmaceutical trading
                company committed to improving healthcare worldwide. With over
                20 years of experience in the industry, we specialize in the
                distribution and supply of high-quality pharmaceutical products
                across diverse therapeutic categories. Our mission is to provide
                reliable access to essential medicines and healthcare solutions,
                ensuring the well-being of people everywhere.
              </p>
            </div>
            <div class="tp-about__info-list ab-check-list mb-55">
              <ul>
                <li><i class="fa-solid fa-check"></i>Wide Product Range</li>
                <li><i class="fa-solid fa-check"></i>Global Distribution</li>
                <li><i class="fa-solid fa-check"></i>Quality Assurance</li>
                <li>
                  <i class="fa-solid fa-check"></i>Customer-Centric Approach
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-area-end -->

  <!-- choose-area -->
  <section class="choose-area theme-bg pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tp-section text-center">
            <span class="tp-section__sub-title left-line right-line mb-25"
              >Our Specialists</span
            >
            <h3 class="tp-section__title title-white mb-85">Why Choose Us</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div
            class="tp-choose__item ml-15 mb-100 wow fadeInUp"
            data-wow-delay=".2s"
          >
            <div class="tp-choose__icon mb-40">
              <i class="flaticon-microscope"></i>
            </div>
            <div class="tp-choose__content">
              <h4 class="tp-choose__title mb-20">
                High Quality <br />Services
              </h4>
              <p>
                Providing reliable, high-quality services that exceed industry
                standards.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div
            class="tp-choose__item ml-35 mb-100 wow fadeInUp"
            data-wow-delay=".4s"
          >
            <div class="tp-choose__icon pink-icon mb-40">
              <i class="flaticon-thinking"></i>
            </div>
            <div class="tp-choose__content">
              <h4 class="tp-choose__title mb-20">Fast Working <br />Process</h4>
              <p>
                Ensuring quick and efficient processes for timely delivery of
                pharmaceutical solutions.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div
            class="tp-choose__item ml-55 mb-100 wow fadeInUp"
            data-wow-delay=".6s"
          >
            <div class="tp-choose__icon green-icon mb-40">
              <i class="flaticon-24-hours-1"></i>
            </div>
            <div class="tp-choose__content">
              <h4 class="tp-choose__title mb-20">
                24/7 Customer <br />
                Support
              </h4>
              <p>
                Our team is available 24/7 to provide prompt and reliable
                assistance.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div
            class="tp-choose__item ml-75 mb-100 wow fadeInUp"
            data-wow-delay=".8s"
          >
            <div class="tp-choose__icon sky-icon mb-40">
              <i class="flaticon-team"></i>
            </div>
            <div class="tp-choose__content">
              <h4 class="tp-choose__title mb-20">
                We have <br />
                Expert Team
              </h4>
              <p>
                A skilled and knowledgeable team committed to meeting your
                healthcare needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- choose-area-end -->

  <!-- nav-tabs-area -->
  <section class="nav-area tp-common-area pt-130 pb-80">
    <div class="container">
      <!-- nab-and-tabs -->
      <ul class="nav tp-nav-tavs mb-70" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Our Process
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Our Mission
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact-tab-pane"
            type="button"
            role="tab"
            aria-controls="contact-tab-pane"
            aria-selected="false"
          >
            Our Value
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <span class="nav-info d-flex justify-content-center text-center mb-75"
            >A streamlined process ensuring quality, compliance,
            <br />
            and timely delivery to meet customer needs</span
          >
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="navtabs nav-primary p-relative text-center mb-40">
                <div class="navtabs__icon mb-35">
                  <i class="flaticon-approval"></i>
                </div>
                <div class="navtabs__content">
                  <h5 class="navtabs__title mb-25 mb-10">Procurement</h5>
                  <p>
                    We partner with trusted manufacturers to source high-quality
                    pharmaceutical products
                  </p>
                </div>
                <div class="navtabs__shape d-none d-lg-block">
                  <img src="assets/img/shape/navtabs-01.png" alt="shape" />
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="navtabs nav-secondary p-relative text-center mb-40">
                <div class="navtabs__icon mb-35">
                  <i class="flaticon-flask"></i>
                </div>
                <div class="navtabs__content">
                  <h5 class="navtabs__title mb-25 mb-10">Quality Assurance</h5>
                  <p>
                    We ensure every product meets stringent quality and
                    regulatory standards.
                  </p>
                </div>
                <div class="navtabs__shape d-none d-lg-block">
                  <img src="assets/img/shape/navtabs-01.png" alt="shape" />
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="navtabs nav-tertiary text-center mb-40">
                <div class="navtabs__icon mb-35">
                  <i class="flaticon-report"></i>
                </div>
                <div class="navtabs__content">
                  <h5 class="navtabs__title mb-25 mb-10">Timely Delivery</h5>
                  <p>
                    We deliver products efficiently and provide exceptional
                    customer support
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <span class="nav-info d-flex justify-content-center text-center mb-75"
            >To be a global leader in providing accessible, high-quality
            healthcare solutions, <br />
            improving lives worldwide</span
          >
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 order-lg-2">
              <div class="nabmission mb-30">
                <div class="nabmission__content text-center ml-50 mr-50 pt-20">
                  <h4 class="nabmission__title mb-35">
                    Our Mission is Give You Always Best
                  </h4>
                  <p class="mb-35">
                    Our mission is simple: to make quality healthcare accessible
                    and affordable to all. We work tirelessly to ensure that the
                    highest standards of pharmaceutical products are delivered
                    reliably and on time to healthcare providers, pharmacies,
                    pharmaceutical industry hospitals, and distributors
                    globally. We strive to be a dependable and responsible
                    partner in the healthcare supply chain.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 order-lg-1">
              <div class="nabthumb mb-30">
                <img src="assets/img/tab/tab-thumb-03.jpg" alt="tab-thumb" />
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 order-lg-3">
              <div class="nabthumb mb-30">
                <img src="assets/img/tab/tab-thumb-04.jpg" alt="tab-thumb" />
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="contact-tab-pane"
          role="tabpanel"
          aria-labelledby="contact-tab"
          tabindex="0"
        >
          <span class="nav-info d-flex justify-content-center text-center mb-75"
            >Our values are the foundation of our success <br />
            Guided by integrity, quality, and a commitment to global
            health</span
          >
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 order-lg-2">
              <div class="nabmission mb-30">
                <div class="nabmission__content text-center ml-50 mr-50 pt-20">
                  <h4 class="nabmission__title mb-35">
                    The Values That Drive Us Forward
                  </h4>
                  <p class="mb-35">
                    At {{ companyName }}, our values are the foundation of
                    everything we do. They guide our decisions, shape our
                    operations, and drive us to continually enhance the
                    healthcare industry. We are committed to maintaining the
                    highest standards of excellence, integrity, and innovation
                    to ensure that we meet the evolving needs of our customers
                    and the communities we serve.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 order-lg-1">
              <div class="nabthumb mb-30">
                <img src="assets/img/tab/tab-thumb-01.jpg" alt="tab-thumb" />
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 order-lg-3">
              <div class="nabthumb mb-30">
                <img src="assets/img/tab/tab-thumb-02.jpg" alt="tab-thumb" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- nab-and-tabs-end -->
    </div>
  </section>
  <!-- nav-tabs-area-end -->
</main>
<!-- main-area-end -->

<!-- footer-area -->
<footer>
  <div class="footer-area tp-footer-white-content theme-bg pt-95">
    <div class="tp-footer-top pb-25">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-1 mb-40 wow fadeInUp"
              data-wow-delay=".2s"
            >
              <div class="tp-footer-widget__content mb-95">
                <i>FEEL FREE TO CONTACT US</i>
                <h4 class="tp-footer-widget__contact mb-20">
                  <a>{{ mobileNumber }}</a>
                </h4>
                <a>{{ email }}</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-2 mb-40 wow fadeInUp"
              data-wow-delay=".4s"
            >
              <span class="tp-footer-widget__title mb-15">Useful links</span>
              <div class="tp-footer-widget__links mb-35">
                <ul>
                  <li><a routerLink="">Home</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                  <li><a routerLink="/certificate">Certificate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-4 mb-40 wow fadeInUp"
              data-wow-delay=".8s"
            >
              <span class="tp-footer-widget__title mb-15">Contact Info</span>
              <div class="tp-footer-widget__links mb-120">
                <ul>
                  <li>
                    <a>{{ address }}</a>
                  </li>
                  <li>
                    <a>{{ indMobileNumber }}</a>
                  </li>
                  <li>
                    <a>{{ email }}</a>
                  </li>
                </ul>
              </div>
              <div class="tp-footer-widget__social fw-social">
                <a><i class="fa-brands fa-facebook-f"></i></a>
                <a><i class="fa-brands fa-twitter"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom fw-border">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="footer-widget__copyright copyright-white">
              <span>
                © Copyright ©2025 <a routerLink="">{{ companyName }}</a
                >. <i>All Rights Reserved Copyright</i></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-area-end -->
