<!-- main-area -->
<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb__area pt-100 pb-120 breadcrumb__overlay"
    data-background="assets/img/banner/breadcrumb-01.jpg"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-7 col-12">
          <div class="tp-breadcrumb">
            <h2 class="tp-breadcrumb__title">Contact us</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- contact-area -->
  <section class="contact-area pt-130 pb-115">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-4 col-md-5 col-12 wow fadeInLeft"
          data-wow-delay=".4s"
        >
          <div class="tpcontact mr-60 mb-60 wow fadeInUp" data-wow-delay=".2s">
            <div class="tpcontact__item text-center">
              <div class="tpcontact__icon mb-20">
                <img src="assets/img/icon/contact-01.svg" alt="" />
              </div>
              <div class="tpcontact__address">
                <h4 class="tpcontact__title mb-15">Address line</h4>
                <span
                  ><a>{{ address }}</a></span
                >
              </div>
            </div>
          </div>
          <div class="tpcontact mr-60 mb-60 wow fadeInUp" data-wow-delay=".4s">
            <div class="tpcontact__item text-center">
              <div class="tpcontact__icon mb-20">
                <img src="assets/img/icon/contact-02.svg" alt="" />
              </div>
              <div class="tpcontact__address">
                <h4 class="tpcontact__title mb-15">Phone Number</h4>
                <span
                  ><a>{{ mobileNumber }}</a></span
                >
                <span
                  ><a>{{ indMobileNumber }}</a></span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="contactform wow fadeInRight" data-wow-delay=".4s">
            <h4 class="contactform__title mb-35">Send us a Massage :</h4>
            <div class="contactform__list mb-60">
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="contactform__input mb-30">
                      <input
                        type="text"
                        placeholder="Your name"
                        formControlName="name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="contactform__input mb-30">
                      <input
                        type="email"
                        placeholder="Your mail"
                        formControlName="email"
                        [ngClass]="{
                          'border-danger':
                            contactForm.controls['email'].invalid &&
                            contactForm.controls['email'].touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="contactform__input mb-30">
                      <input
                        name="number"
                        type="text"
                        placeholder="Enter your number"
                        formControlName="number"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="contactform__input mb-30">
                      <input
                        name="website"
                        type="text"
                        placeholder="Enter your website"
                        formControlName="website"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="contactform__input mb-30">
                      <textarea
                        placeholder="Type your massage"
                        name="message"
                        formControlName="message"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="contactform__input mb-30-btn">
                      <button type="submit" class="tp-btn">Send Massage</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="tpcontactmap">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.2117031352873!2d72.84538137401525!3d21.22345208106561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f22552bc9ed%3A0x447e637be028f5d6!2sShyam%20Transport!5e0!3m2!1sen!2sin!4v1740925016668!5m2!1sen!2sin"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact-area-end -->
</main>
<!-- main-area-end -->

<!-- footer-area -->
<footer>
  <div class="footer-area tp-footer-white-content theme-bg pt-95">
    <div class="tp-footer-top pb-25">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-1 mb-40 wow fadeInUp"
              data-wow-delay=".2s"
            >
              <div class="tp-footer-widget__content mb-95">
                <i>FEEL FREE TO CONTACT US</i>
                <h4 class="tp-footer-widget__contact mb-20">
                  <a>{{ mobileNumber }}</a>
                </h4>
                <a>{{ email }}</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-2 mb-40 wow fadeInUp"
              data-wow-delay=".4s"
            >
              <span class="tp-footer-widget__title mb-15">Useful links</span>
              <div class="tp-footer-widget__links mb-35">
                <ul>
                  <li><a routerLink="">Home</a></li>
                  <li><a routerLink="about">About</a></li>
                  <li><a routerLink="contact">Contact</a></li>
                  <li><a routerLink="certificate">Certificate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-4 mb-40 wow fadeInUp"
              data-wow-delay=".8s"
            >
              <span class="tp-footer-widget__title mb-15">Contact Info</span>
              <div class="tp-footer-widget__links mb-120">
                <ul>
                  <li>
                    <a>{{ address }}</a>
                  </li>
                  <li>
                    <a>{{ indMobileNumber }}</a>
                  </li>
                  <li>
                    <a>{{ email }}</a>
                  </li>
                </ul>
              </div>
              <div class="tp-footer-widget__social fw-social">
                <a><i class="fa-brands fa-facebook-f"></i></a>
                <a><i class="fa-brands fa-twitter"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom fw-border">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="footer-widget__copyright copyright-white">
              <span>
                © Copyright ©2025 <a routerLink="">{{ companyName }}</a
                >. <i>All Rights Reserved Copyright</i></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-area-end -->
