<!-- nav-bar-reusable -->
<ng-template #reusableNavbar
  ><ul>
    <li
      *ngFor="let nav of navbar"
      [ngClass]="{
      'has-dropdown': nav.subMenu?.length,
    }"
    >
      <a
        [routerLinkActive]="nav.subMenu?.length ? '' : 'active'"
        [routerLink]="nav.routerLink"
        [ngClass]="{
          active: isActive && nav.subMenu?.length
        }"
        (mouseenter)="mouseover(nav, true)"
        >{{ nav.name }}</a
      >
      <ul
        *ngIf="nav.subMenu?.length && nav.isOpen"
        class="sub-menu"
        (mouseenter)="mouseover(nav, true)"
        (mouseleave)="mouseover(nav, false)"
      >
        <li *ngFor="let item of nav.subMenu">
          <a routerLink="/{{ nav.routerLink }}/{{ item.router }}">{{
            item.category
          }}</a>
        </li>
      </ul>
      <a
        *ngIf="isMobileMenu && nav.subMenu?.length"
        class="mean-expand"
        style="font-size: 18px"
        (click)="nav.isOpen = !nav.isOpen"
        ><i class="fal fa-plus"></i
      ></a>
    </li></ul
></ng-template>
<!-- nav-bar-reusable-end -->

<!-- Scroll-top -->
<button
  class="scroll-top scroll-to-target"
  [ngClass]="{ open: isScrollTargetOpen }"
  (click)="scrollToTarget()"
  data-target="html"
>
  <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->

<!-- preloader -->
<div id="preloadertp">
  <img [src]="preloader" alt="" />
</div>
<!-- preloader end  -->

<!-- header-area -->
<header class="d-none d-xl-block">
  <div class="header-custom" id="header-sticky">
    <div class="header-logo-box">
      <a routerLink="/"><img [src]="logoUrl" alt="logo" /></a>
    </div>
    <div class="header-menu-box">
      <div class="header-menu-bottom">
        <div class="row">
          <div class="col-lg-7">
            <div class="main-menu main-menu-second">
              <nav id="mobile-menu">
                <ng-template [ngTemplateOutlet]="reusableNavbar"></ng-template>
              </nav>
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="header-cart-order h-100 d-flex align-items-center justify-content-end"
            >
              <div
                class="header-cart-list h-100 m-0 d-flex align-items-center justify-content-end"
              >
                <button
                  class="tp-menu-toggle h-100 m-0 header-bottom-btn"
                  (click)="openSidebar()"
                >
                  CONTACT US
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-area-end -->

<!-- tp-mobile-header-area start -->
<div id="header-mob-sticky" class="tp-mobile-header-area pt-15 pb-15 d-xl-none">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-10">
        <div class="tp-mob-logo">
          <a routerLink="/"><img [src]="logoUrl" alt="logo" /></a>
        </div>
      </div>
      <div class="col-md-8 col-2">
        <div
          class="tp-mobile-bar d-flex align-items-center justify-content-end"
        >
          <div class="tp-bt-btn-banner d-none d-md-block d-xl-none mr-30">
            <a class="tp-bt-btn">
              <svg
                width="14"
                height="19"
                viewBox="0 0 14 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="2" cy="2" r="2" fill="#0E63FF" />
                <circle cx="7" cy="2" r="2" fill="#0E63FF" />
                <circle cx="12" cy="2" r="2" fill="#0E63FF" />
                <circle cx="12" cy="7" r="2" fill="#0E63FF" />
                <circle cx="12" cy="12" r="2" fill="#0E63FF" />
                <circle cx="7" cy="7" r="2" fill="#0E63FF" />
                <circle cx="7" cy="12" r="2" fill="#0E63FF" />
                <circle cx="7" cy="17" r="2" fill="#0E63FF" />
                <circle cx="2" cy="7" r="2" fill="#0E63FF" />
                <circle cx="2" cy="12" r="2" fill="#0E63FF" /></svg
              ><span>Contact :</span>{{ mobileNumber }}
            </a>
          </div>
          <button class="tp-menu-toggle" (click)="openSidebar()">
            <i class="far fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-mobile-header-area end -->

<!-- sidebar-info -->
<div
  class="tpsideinfo tp-side-info-area"
  [ngClass]="{ 'tp-sidebar-opened': isSidebarOpen }"
>
  <button class="tpsideinfo__close" (click)="closeSidebar()">
    <i class="fal fa-times"></i>
  </button>
  <!-- <div class="tpsideinfo__logo mb-40">
    <a routerLink="/"><img [src]="whiteLogoUrl" alt="logo" /></a>
  </div> -->

  <!-- <div class="mobile-menu"></div> -->
  <div *ngIf="isMobileMenu" class="mobile-menu mean-container">
    <div class="mean-bar">
      <a class="meanmenu-reveal" style="right: 0px; left: auto; display: inline"
        ><span
          ><span><span></span></span></span
      ></a>
      <nav class="mean-nav">
        <ng-template [ngTemplateOutlet]="reusableNavbar"></ng-template>
      </nav>
    </div>
  </div>

  <div class="tpsideinfo__content mb-60">
    <p class="d-none d-xl-block">
      {{ companyMission }}
    </p>
    <span>Contact Us</span>
    <a href=""><i class="fa-solid fa-star"></i>{{ address }} </a>
    <a href=""><i class="fa-solid fa-star"></i>{{ mobileNumber }}</a>
    <a href=""><i class="fa-solid fa-star"></i>{{ email }}</a>
  </div>
  <div class="tpsideinfo__content-inputarea mb-60 d-none d-xl-block">
    <span>Get Update</span>
    <div class="tpsideinfo__content-inputarea-input">
      <form>
        <input
          type="email"
          placeholder="Enter Mail"
          name="emailSub"
          [(ngModel)]="emailSub"
        />
        <button class="tpsideinfo__content-inputarea-input-btn">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- sidebar-info-end -->

<div
  class="body-overlay"
  (click)="closeSidebar()"
  [ngClass]="{ opened: isSidebarOpen }"
></div>
