.mb-150 {
  margin-bottom: 150px;
}

.mb-100 {
  margin-bottom: 100px;
}

.testimonial-area {
  background-image: url("../../assets/img/shape/shape-bg-05.png");
}

.about-area {
  background-image: url("../../assets/img/shape/shape-bg-05.png");
}

.choose-area {
  background-image: url("../../assets/img/shape/shape-bg-07.png");
}

.appoinment-area {
  background-image: url("../../assets/img/shape/shape-bg-08.png");
}
