<!-- main-area -->
<main>
  <!-- slider-arae -->
  <section class="slider-area slider-tp-top pt-100 p-relative">
    <div class="slider-social">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-2 col-12 d-none d-md-block">
            <div class="slider-content__arrow d-flex align-items-center">
              <div class="slider-p">
                <i class="fa-regular fa-arrow-left"></i>
              </div>
              <div class="slider-n">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container tp-slider slider-active">
      <div class="swiper-wrapper">
        <div class="swiper-slide bg-white">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12 col-12 order-2 order-lg-1">
                <div class="slider-content pt-60">
                  <h2 class="slider-content__title mb-45">
                    Trusted Partner <br />
                    in Global <br />
                    Pharmaceutical Solutions
                  </h2>
                  <p>
                    Providing the highest quality medicines to improve health
                    worldwide. Partnering for a healthier tomorrow, today.
                  </p>
                  <div class="slider-content__btn mb-165">
                    <a class="tp-btn" routerLink="contact">CONTACT US</a>
                    <a class="tp-btn-second ml-25" routerLink="about"
                      >ABOUT US</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2">
                <div class="slider-content__bg">
                  <img
                    src="assets/img/slider/slider-bg-1.png"
                    alt="slider-img"
                  />
                </div>
                <div class="slider-content__shape d-none d-md-block">
                  <img
                    src="assets/img/slider/slider-bg-2.png"
                    alt="slider-shape"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide bg-white">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12 col-12 order-2 order-lg-1">
                <div class="slider-content pt-60">
                  <h2 class="slider-content__title mb-45">
                    Our Passion is to <br />
                    Give you Better <br />
                    Service
                  </h2>
                  <p>
                    Delivering premium pharmaceutical products with integrity
                    and trust. Ensuring health solutions are accessible
                    everywhere.
                  </p>
                  <div class="slider-content__btn mb-165">
                    <a class="tp-btn" routerLink="contact">CONTACT US</a>
                    <a class="tp-btn-second ml-25" routerLink="about"
                      >ABOUT US</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2">
                <div class="slider-content__bg">
                  <img
                    src="assets/img/slider/slider-bg-3.png"
                    alt="slider-img"
                  />
                </div>
                <div class="slider-content__shape d-none d-md-block">
                  <img
                    src="assets/img/slider/slider-bg-2.png"
                    alt="slider-shape"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- slider-arae-end -->

  <!-- about-area -->
  <section
    class="about-area grey-bg pt-130 tp-box-space pb-130 ml-30 mr-30"
    data-background="assets/img/shape/shape-bg-05.png"
  >
    <div class="about-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-12 col-12">
            <div
              class="about-thumb text-lg-center p-relative ml-85 mb-60 wow fadeInLeft"
              data-wow-delay=".3s"
            >
              <img src="assets/img/about/about-bg-02.png" alt="about-thumb" />
              <div class="about-thumb-shape d-none d-md-block">
                <img src="assets/img/about/about-bg-03.png" alt="about-shape" />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-12">
            <div
              class="about-content ml-60 mb-60 wow fadeInRight"
              data-wow-delay=".3s"
            >
              <div class="tp-section">
                <span class="tp-section__sub-title left-line mb-25"
                  >About Us</span
                >
                <h3 class="tp-section__title mb-45">
                  Delivering Trusted Pharmaceutical Products Worldwide
                </h3>
                <i
                  >Dedicated to providing high-quality pharmaceutical products
                  globally. We bridge the gap in healthcare access and
                  innovation.</i
                >
                <p class="mr-20 mb-35">
                  We are a global pharmaceutical trading company committed to
                  delivering high-quality medicines. Our goal is to improve
                  healthcare access and outcomes worldwide through trusted
                  partnerships. With innovation and integrity, we provide
                  essential pharmaceuticals to communities everywhere.s
                </p>
              </div>
              <div class="about-content__btn">
                <a routerLink="about" class="tp-btn">ABOUT US</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="cta-area pt-75">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
          <div class="col-lg-12">
            <div
              class="tp-cta-bg p-relative theme-light-bg pt-65 pb-70"
              data-background="assets/img/shape/shape-bg-04.png"
            >
              <div class="cta-content ml-90">
                <div class="tp-section">
                  <span
                    class="tp-section__sub-title sub-title-white left-line-white mb-20"
                    >book Free sampling</span
                  >
                </div>
                <h2 class="cta-title mb-30">
                  Free Sampling at your <br />
                  Home Adress
                </h2>
                <div class="cta-btn">
                  <button class="tp-btn-second">Book Now</button>
                </div>
                <div class="cta-shape d-none d-md-block">
                  <img
                    src="assets/img/shape/logo-shape-1.png"
                    alt="cta-logo-shape"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
  <!-- about-area-end -->

  <!-- choose-area -->
  <section
    *ngIf="false"
    class="choose-area grey-bg pt-125 pb-70 tp-box-space ml-30 mr-30"
    data-background="assets/img/shape/shape-bg-07.png"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tp-section text-center">
            <span class="tp-section__sub-title left-line right-line mb-25"
              >who we are</span
            >
            <h3 class="tp-section__title mb-75">Why Choose Us</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div
            class="experience-item text-center mb-50 wow fadeInUp"
            data-wow-delay=".2s"
          >
            <div class="progress-circular tl-progress">
              <input
                type="text"
                class="knob"
                value="0"
                data-rel="100"
                data-linecap="round"
                data-width="165"
                data-height="165"
                data-bgcolor="#ECEEF3"
                data-fgcolor="#0E63FF"
                data-thickness=".07"
                data-readonly="true"
                disabled
              />
            </div>
            <span class="skill-item-title">QUALITY</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div
            class="experience-item text-center mb-50 wow fadeInUp"
            data-wow-delay=".4s"
          >
            <div class="progress-circular tl-progress">
              <input
                type="text"
                class="knob"
                value="0"
                data-rel="95"
                data-linecap="round"
                data-width="165"
                data-height="165"
                data-bgcolor="#ECEEF3"
                data-fgcolor="#F72A75"
                data-thickness=".07"
                data-readonly="true"
                disabled
              />
            </div>
            <span class="skill-item-title">ON-TIME DELIVERIES</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div
            class="experience-item text-center mb-50 wow fadeInUp"
            data-wow-delay=".6s"
          >
            <div class="progress-circular tl-progress">
              <input
                type="text"
                class="knob"
                value="0"
                data-rel="98"
                data-linecap="round"
                data-width="165"
                data-height="165"
                data-bgcolor="#ECEEF3"
                data-fgcolor="#42BFFF"
                data-thickness=".07"
                data-readonly="true"
                disabled
              />
            </div>
            <span class="skill-item-title">CUSTOMER SATISFACTION</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div
            class="experience-item text-center mb-50 wow fadeInUp"
            data-wow-delay=".8s"
          >
            <div class="progress-circular tl-progress">
              <input
                type="text"
                class="knob"
                value="0"
                data-rel="95"
                data-linecap="round"
                data-width="165"
                data-height="165"
                data-bgcolor="#ECEEF3"
                data-fgcolor="#10D0A1"
                data-thickness=".07"
                data-readonly="true"
                disabled
              />
            </div>
            <span class="skill-item-title">CUSTOMER RETENTION</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- choose-area-end -->

  <!-- contact-area -->
  <section
    class="appoinment-area grey-bg mb-50 mb-150 tp-box-space ml-30 mr-30"
    data-background="assets/img/shape/shape-bg-08.png"
  >
    <div class="container">
      <div class="row align-items-end">
        <div class="col-xl-4 col-lg-12 col-md-12">
          <div class="appoint-thumb">
            <img
              src="assets/img/banner/appoinment-02.png"
              alt="appoinment-img"
            />
          </div>
        </div>
        <div class="col-xl-8 col-lg-12 col-md-12">
          <div class="visitor-info visitor-info-bg">
            <h4 class="appoinment-title mb-25">
              <i class="fa-light fa-file-signature"></i>Contact Us
            </h4>
            <div class="visitor-form">
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="visitor-form__input">
                      <input
                        type="text"
                        placeholder="Your name"
                        formControlName="name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="visitor-form__input position-relative">
                      <input
                        type="email"
                        placeholder="Your mail"
                        formControlName="email"
                        [ngClass]="{
                          'border-danger':
                            contactForm.controls['email'].invalid &&
                            contactForm.controls['email'].touched
                        }"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="visitor-form__input">
                      <input
                        name="number"
                        type="text"
                        placeholder="Enter your number"
                        formControlName="number"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="visitor-form__input">
                      <input
                        name="website"
                        type="text"
                        placeholder="Enter your website"
                        formControlName="website"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="visitor-form__input">
                      <textarea
                        placeholder="Type your massage"
                        name="message"
                        formControlName="message"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                    <div class="visit-btn mt-20">
                      <button class="tp-btn">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact-area-end -->

  <!-- testimonial-aerea -->
  <div
    class="testimonial-area pt-130 pb-125 mb-100 testi-bg theme-light-bg"
    data-background="assets/img/shape/shape-bg-05.png"
  >
    <div class="container p-relative wow fadeInUp" data-wow-delay=".3s">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="testi-thumb text-center">
            <div class="swiper-container swiper test-ava-active">
              <div class="swiper-wrapper testi-avta-bottom pb-70">
                <div class="swiper-slide">
                  <img
                    src="assets/img/icon/testi-ava-04.png"
                    alt="testi-avata"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="assets/img/icon/testi-ava-05.png"
                    alt="testi-avata"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="assets/img/icon/testi-ava-06.png"
                    alt="testi-avata"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="assets/img/icon/testi-ava-07.png"
                    alt="testi-avata"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testi-arrow">
          <div class="testi-button-next">
            <i class="fa-regular fa-arrow-right"></i>
          </div>
          <div class="testi-button-prev">
            <i class="fa-regular fa-arrow-left"></i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11 col-12">
          <div class="swiper-container swiper test-active">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testi-content text-center">
                  <p>
                    “{{ companyName }} has been a reliable partner for our
                    medical supply needs. Their products are of the highest
                    quality, and their customer service is outstanding. We've
                    never had an issue with delivery times or product quality.
                  </p>
                  <i>John D.</i>
                  <!-- <span>Programmer of (FlaxStudio)</span> -->
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testi-content text-center">
                  <p>
                    “We've been sourcing our medications from
                    {{ companyName }} for over two years now, and they
                    consistently exceed expectations. Their pricing is
                    competitive, and we can always count on them for fast,
                    accurate deliveries
                  </p>
                  <i>Maria S.</i>
                  <!-- <span>Programmer of (FlaxStudio)</span> -->
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testi-content text-center">
                  <p>
                    “The level of professionalism and efficiency from
                    {{ companyName }} is unmatched. They offer a seamless
                    ordering process, and the products arrive on time, every
                    time. Their team is responsive and ensures everything runs
                    smoothly.
                  </p>
                  <i>Mark H.</i>
                  <!-- <span>Manager of (FlaxStudio)</span> -->
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testi-content text-center">
                  <p>
                    “{{ companyName }} is a top-tier supplier in the
                    pharmaceutical industry. Their commitment to compliance and
                    their ability to meet demand even in peak times is something
                    we truly appreciate. A trusted partner in every sense.
                  </p>
                  <i>Emma W.</i>
                  <!-- <span>CEO of (FlaxStudio)</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial-aerea-end -->

  <!-- news-letter-area -->
  <section
    class="news-letter-area pt-110 pb-110 news-round-shape p-relative tp-box-space mr-30 ml-30 theme-light-bg fix"
    data-background="assets/img/shape/shape-bg-05.png"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10 col-12">
          <div class="newsletter-content text-center">
            <h3 class="newsletter-title mb-15">Newslatter</h3>
            <span>#Subscribe newsletter for get every update</span>
            <div class="newsletter-form p-relative ml-10 mr-10">
              <form>
                <input
                  type="email"
                  placeholder="info.yourwebmail@gmail.com"
                  name="emailSub"
                  [(ngModel)]="emailSub"
                />
                <button (click)="sub()" class="newsletter-btn">
                  Subscribe<i class="fa-solid fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- news-letter-area-end -->
</main>
<!-- main-area-end -->

<!-- footer-area -->
<footer>
  <div class="footer-area pt-105">
    <div class="tp-footer-top pb-25">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-1 mb-40 wow fadeInUp"
              data-wow-delay=".2s"
            >
              <div class="tp-footer-widget__content mb-95">
                <i>FEEL FREE TO CONTACT US</i>
                <h4 class="tp-footer-widget__contact mb-20">
                  <a>{{ mobileNumber }}</a>
                </h4>
                <a>{{ email }}</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-2 mb-40 wow fadeInUp"
              data-wow-delay=".4s"
            >
              <span class="tp-footer-widget__title mb-15">Useful links</span>
              <div class="tp-footer-widget__links mb-35">
                <ul>
                  <li><a routerLink="">Home</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                  <li><a routerLink="/certificate">Certificate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="tp-footer-widget footer-2-col-4 mb-40 wow fadeInUp"
              data-wow-delay=".8s"
            >
              <span class="tp-footer-widget__title mb-15">Contact Info</span>
              <div class="tp-footer-widget__links mb-120">
                <ul>
                  <li>
                    <a>{{ address }}</a>
                  </li>
                  <li>
                    <a>{{ indMobileNumber }}</a>
                  </li>
                  <li>
                    <a>{{ email }}</a>
                  </li>
                </ul>
              </div>
              <div class="tp-footer-widget__social fw-social">
                <a><i class="fa-brands fa-facebook-f"></i></a>
                <a><i class="fa-brands fa-twitter"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom fw-border">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="footer-widget__copyright copyright-white">
              <span>
                © Copyright ©2025 <a routerLink="">{{ companyName }}</a
                >. <i>All Rights Reserved Copyright</i></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-area-end -->
